# ==============================================================================
# Files or directories with designated code owner.
#
# Note:
#   - Each line is a file pattern followed by one or more owners.
#   - Branch with branch protection rule "Require review from Code Owners"
#     will automaticaly trigger a request to a designated code owner
# ==============================================================================

# ....Repository wide code owner................................................
# These owners will be the default owners for everything in the repo.
* @IamPhytan @willGuimont @Asers387
