# Accelerate install and build
wheel

# Science
numpy
pandas
pyarrow
ipython
jupyterlab
matplotlib>=3.7.0
scipy
scikit-learn
torch
torchvision
lightning
tensorboard
torch-metrics
git+https://github.com/willGuimont/pipeline

# Dev
black
pylint
ipykernel
pre-commit

