# Accelerate install and build
wheel

# Science
numpy
pandas
pyarrow
ipython
jupyterlab
matplotlib>=3.7.0
scipy
scikit-learn
imbalanced-learn
torch
torchvision
lightning
tensorboard
torch-metrics
einops
git+https://github.com/willGuimont/pipeline
optuna
plotly

# Dev
black
pylint
ipykernel
pre-commit
